body {
  background-image: url('mincruft.jpg');
  background-size: 75px 75px;
}

.textbox {
  position: relative;
  height: auto;
  margin: 35px;
  padding: 20px;
  width: 92%;
  background-color: RGBA(1, 1, 1, 0.8);
  border: 2px solid black;
  border-radius: 6px;
  color: RGB(50, 50, 50);
  font-size: 20px;
}
